# SECRET_KEY=SECRET_KEY
# DEBUG=False
# ALLOWED_HOSTS=ALLOWED_HOSTS
# DB_URL=DB_URL
# EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
# EMAIL_HOST_USER=EMAIL_HOST_USER
# BROKER_URL=BROKER_URL




###### settings docker ##########
SECRET_KEY=SECRET_KEY
DEBUG=False
ALLOWED_HOSTS=ALLOWED_HOSTS
EMAIL_HOST_PASSWORD=EMAIL_HOST_PASSWORD
EMAIL_HOST_USER=EMAIL_HOST_USER
DB_URL=DB_URL
BROKER_URL=BROKER_URL
